html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    /* background-image: url("https://images.unsplash.com/photo-1528675025161-ea13b463cc02?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"); */
    /* height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #1b1924;
}

.container {
    /* box-sizing: border-box; */
    max-width: 320px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.container img {
    width: 90%;
    margin: 10px auto;
    filter: invert(100%);
}

.container h1 {
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}

.container h3 {
    font-size: 1.25em;
    margin: 10px 0;
    color: white;
  }

  .input-el {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: #444059;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
    /* color: #8f8f8f; */
  }
  .input-El {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: #332e49;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
    /* color: #8f8f8f; */
  }


  #endorsement-value {
    height: 120px;
  }
  
  #input-container {
    display: flex;
    justify-content: space-between;
  }
  
  #from-input,
#to-input {
  width: 48%;
  text-align: center;
}

#publish-btn {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  padding: 10px;
  background: #1a9790;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#publish-btn:hover {
    background: #087e7e;
    color: white;
  }
  
  #endorsement-list {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.75em;
  }
  
  #endorsement-list li {
    box-sizing: border-box;
    background: white;
    color: #1b1924;
    text-align: left;
    padding: 15px;
  }
  
  .bold-p {
    margin: 0;
    font-weight: 700;
  }
  
  #endorsement-list li div {
    display: flex;
    justify-content: space-between;
  }
  
  .border-test {
    border: solid 1px green;
  }